.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    position: relative;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}

.needs-validation {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
}

.btn.btn-primary {
    margin-bottom: 20px;
}

.table {
    text-align: center;
}

#btn
{
    background-color: #4CAF50; /* Green */
}