<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" >Bus City</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/admin" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>


        </div>
    </div>
</nav>

<form  [formGroup]="ticketForm" class="needs-validation"  novalidate>

    <div class="needs-validation">
        <div class="form-row">
            <div class="col-md-5 mb-2 id1">
                <div class="text1">
                    Enter regular price for:
                </div>

                <div class="form-group">
                    <label for="validationCustom05">Select ticket type</label>
                    <select (change)="selected($event)"  class="custom-select"  required>
          <option value=""></option>
          <option value="TimeTicket"> Time ticket</option>
          <option value="DailyTicket">Daily ticket</option>
          <option value="MonthlyTicket">Monthly ticket</option>
          <option value="AnnualTicket">Annual ticket</option>
        </select>
                    <!--  <div class="invalid-feedback">You must select type of pearson</div>-->
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-2 id">
                        New value:

                    </div>
                    <div class="col-md-6 mb-2 input">
                        <input type="text" class="form-control" formControlName="newPrice" id="validationCustom04" required>
                        <div class="invalid-feedback">
                            Please enter valid line.
                        </div>
                    </div>

                </div>

                <button type="button" (click)="ChangePrice()" class="btn btn-primary savebutton">Set</button>
                <label>{{mssgPrice}}</label>
               

            </div>
            <!---------------------------------------------------->
            <div class="col-md-6 mb-2 diss">
                <div class="form-row">

                    <div class="col-md-4 mb-2 id">
                        <div class="text2">
                            Enter discount for:
                        </div>
                    </div>
                    <div class="col-md-4 mb-2 id">
                        Student discount: {{prices[12]}} %

                    </div>

                    <div class="col-md-4 mb-2 id">

                        Retaire dicount:{{prices[13]}} %
                    </div>
                </div>

                <div class="form-group">
                    <label for="validationCustom05">Select pearson type</label>
                    <select (change)="selectedUser($event)" class="custom-select"  required>
          <option value=""></option>
          <option value="student"> Student</option>
          <option value="retiree"> Retairee</option>
        </select>
                    <!--  <div class="invalid-feedback">You must select type of pearson</div>-->
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-2 id">
                        New value:

                    </div>
                    <div class="col-md-6 mb-2 input">
                        <input type="text" class="form-control" formControlName="newDiscount" id="validationCustom04" required>
                        <div class="invalid-feedback">
                            Please enter valid line.
                        </div>
                    </div>

                </div>

                <button type="button" (click)="ChangeDiscount()" class="btn btn-primary savebutton">Set</button>
                <label>{{mssgDiscount}}</label>
                
            
            </div>
       
        </div>
    </div>
    <!---------------------------------------------------->



    <hr class="new1">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" colspan="2">Time ticket</th>
                <th scope="col" colspan="2">Daily ticket</th>
                <th scope="col" colspan="2">Monthly ticket</th>
                <th scope="col" colspan="2">Annual ticket</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Regular</td>
                <td>{{prices[0]}} RSD</td>
                <td>Regular</td>
                <td>{{prices[3]}} RSD</td>
                <td>Regular</td>
                <td>{{prices[6]}} RSD</td>
                <td>Regular</td>
                <td>{{prices[9]}} RSD</td>
            </tr>

            <tr>

                <td>Student</td>
                <td>{{prices[1]}} RSD</td>
                <td>Student</td>
                <td>{{prices[4]}} RSD</td>
                <td>Student</td>
                <td>{{prices[7]}} RSD</td>
                <td>Student</td>
                <td>{{prices[10]}} RSD</td>
            </tr>

            <tr>
                <td>Retaire</td>
                <td>{{prices[2]}} RSD</td>
                <td>Retaire</td>
                <td>{{prices[5]}} RSD</td>
                <td>Retaire</td>
                <td>{{prices[8]}} RSD</td>
                <td>Retaire</td>
                <td>{{prices[11]}} RSD</td>
            </tr>

        </tbody>
    </table>
</form>