.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    position: relative;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}

#lines {
    position: fixed;
    width: 400px;
    height: 200px;
    left: 75px;
   
  } 
  
