/*
. Registracija obuhvata unos
email adrese,+
lozinke,+
imena, +
prezimena, +
datuma rođenja i
adrese.
Lozinka se unosi u dva polja da bi se otežalo pravljenje grešaka prilikom odabira nove lozinke. +
*/

.needs-validation {
    width: 500px;
    margin-left: 10px;
    margin-top: 10px;
}

.first_name {
    margin-bottom: 20px;
}

.last_name {
    margin-bottom: 20px;
}

.username {
    margin-bottom: 20px;
}

.password {
    margin-bottom: 20px;
}

.email {
    margin-bottom: 20px;
}

.confirm_password {
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 20px;
}

.btn.btn-primary {
    margin-left: 200px;
}