.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    position: relative;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}

.needs-validation {
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    text-align: center;
}


/*
  .btn.btn-primary {
      margin-bottom: 20px;
      margin-top: 20px;
  }*/

.email {
    margin-top: 30px;
}

.poruka {
    margin-bottom: 20px;
}

.id {
    margin-top: 5px;
}

.naslov {
    text-align: center;
}

.info {
    text-align: left;
    margin-top: 10px;
}

h2,
p,
form {
    text-align: center;
}