<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Gradski saobracajni prevoz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/admin" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Log out</a>


        </div>
    </div>
</nav>

<form [formGroup]="Form" (ngSubmit)="register()" class="needs-validation" novalidate>

    <div class="needs-validation">
        <div class="form-row">

            <!---------------------------------------------------->
            <div class="col-md-6 mb-2 diss">

                <div class="row">

                    <!-- Force next columns to break to new line -->
                    <div class="w-100"></div>

                    <div class="col-6 col-sm-10 change">
                        <div class="text2">
                            CHANGE
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-2 id">
                                Line:

                            </div>
                            <div class="col-md-6 mb-2 input">
                                <select class="custom-select" (change)="selectedLine($event)" required>
                                    <option *ngFor="let obj of lines" [value]="obj">{{obj}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please enter valid line.
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-2 id">
                                Select ticket type:

                            </div>
                            <div class="col-md-6 mb-2 id">
                                <select class="custom-select" (change)="selectedType($event)" required>
                                     <option value="WorkDay"> Work Day</option>
                                     <option value="Saturday"> Saturday</option>
                                    <option value="Sunday">Sunday </option>
                                </select>
                            </div>

                            <!--  <div class="invalid-feedback">You must select type of pearson</div>-->
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-2 id">
                                Departures:

                            </div>
                            <div class="col-md-6 mb-2 input">
                                <input type="text" class="form-control" formControlName="deps" id="validationCustom04" required>
                                <div class="invalid-feedback">
                                    Please enter valid departure.
                                </div>
                            </div>
                            <button type="button" (click)="Show()" class="btn btn-primary savebutton"> Show</button>

                            <div>
                                Ispis da je sacuvana linija u bazu nakon sto se dugme klikne.
                            </div>
                        </div>

                    </div>



                    <div class="col-6 col-sm-10 change">

                        <div class="text3">
                            ADD AND DELETE
                        </div>
                        <div class="text3">
                            You must enter value in format: hh:mm
                        </div>
                        <div class="form-row">

                            <div class="col-md-2 mb-2 id">
                                Add:

                            </div>
                            <div class="col-md-4 mb-2 input">
                                <input type="text" class="form-control" formControlName="deps" id="validationCustom04" required>
                                <div class="invalid-feedback">
                                    Please enter valid departure.
                                </div>
                            </div>

                            <div class="col-md-6 mb-2 input">
                                <button type="button" class="btn btn-primary savebuttonn"> Add</button>
                            </div>



                        </div>

                    </div>

                    <div class="col-6 col-sm-10 change">



                        <div class="form-row">
                            <div class="col-md-2 mb-2 id">
                                Delete:

                            </div>
                            <div class="col-md-4 mb-2 input">
                                <input type="text" class="form-control" formControlName="deps" id="validationCustom04" required>
                                <div class="invalid-feedback">
                                    Please enter valid departure.
                                </div>
                            </div>

                            <div class="col-md-6 mb-2 input">
                                <button type="button" class="btn btn-primary savebuttonn"> Delete</button>
                            </div>



                        </div>

                    </div>



                </div>


            </div>

        </div>
    </div>
    <!---------------------------------------------------->

</form>