.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    position: relative;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}

input.largerCheckbox { 
    width: 80px; 
    height: 80px; 
} 

#btn
{
    background-color: #4CAF50; /* Green */
}