<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Gradski saobracajni prevoz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/admin" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Log out</a>


        </div>
    </div>
</nav>

<form [formGroup]="registerForm" (ngSubmit)="register()" class="needs-validation" novalidate>

    <div class="needs-validation">
        <div class="form-row">
            <div class="col-md-5 mb-2 id1">
                <div class="text1">
                    ADD LINE
                </div>


                <form [formGroup]="registerForm" (ngSubmit)="register()" class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-6 mb-2 id">
                            Enter line name:

                        </div>
                        <div class="col-md-6 mb-2 input">
                            <input type="text" class="form-control" id="validationCustom04" required>
                            <div class="invalid-feedback">
                                Please enter valid id.
                            </div>
                        </div>


                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-2 id">
                            Choose stations:

                        </div>

                        <div class="dropdown cq-dropdown" data-name='statuses'>
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Stations
                              <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="btndropdown">
                                <li>
                                    <label class="radio-btn">
                                      <input type="checkbox" value='option1'>
                                      Option 1
                                  </label>
                                </li>
                                <li>
                                    <label class="radio-btn">
                                      <input type="checkbox" value='option2'>
                                      Option 2
                                  </label>
                                </li>
                                <li>
                                    <label class="radio-btn">
                                      <input type="checkbox" value='option3'>
                                      Option 3
                                  </label>
                                    <li>

                                        <!--    <li class='text-center'>
                                  <button type='button' class='btn btn-xs btn-danger clear close-dropdown' value='Clear'>Clear</button>
                                  <button type='button' class='btn btn-xs btn-success save' value='Save'>Save</button>
                              </li> -->
                            </ul>
                        </div>

                    </div>




                    <button type="button" class="btn btn-primary savebutton"> Add</button>
                    <div>
                        Ispis da je sacuvana linija u bazu nakon sto se dugme klikne.
                    </div>

                </form>
            </div>
            <!---------------------------------------------------->
            <div class="col-md-6 mb-2 diss">

                <div class="row">
                    <div class="col-6 col-sm-10">
                        <div class="text2">
                            DELETE
                        </div>

                        <form [formGroup]="registerForm" (ngSubmit)="register()" class="needs-validation" novalidate>


                            <div class="form-row">
                                <div class="col-md-6 mb-2 id">
                                    Enter line id:

                                </div>
                                <div class="col-md-6 mb-2 input">
                                    <input type="text" class="form-control" id="validationCustom04" required>
                                    <div class="invalid-feedback">
                                        Please enter valid id.
                                    </div>
                                </div>

                            </div>

                            <button type="button" class="btn btn-primary savebutton"> Delete</button>
                            <div>
                                Ispis da je obrisana linija iz baze nakon sto se dugme klikne.
                            </div>

                            <hr class="new1">
                        </form>
                    </div>


                    <!-- Force next columns to break to new line -->
                    <div class="w-100"></div>

                    <div class="col-6 col-sm-10">
                        <div class="text2">
                            CHANGE
                        </div>

                        <form [formGroup]="registerForm" (ngSubmit)="register()" class="needs-validation" novalidate>

                            <div class="form-row">
                                <div class="col-md-6 mb-2 id">

                                    Enter line id:

                                </div>
                                <div class="col-md-6 mb-2 input">
                                    <input type="text" class="form-control" id="validationCustom04" required>
                                    <div class="invalid-feedback">
                                        Please enter valid id.
                                    </div>
                                </div>



                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-2 id">
                                    Choose stations:

                                </div>

                                <div class="dropdown cq-dropdown" data-name='statuses'>
                                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      Stations
                                      <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" aria-labelledby="btndropdown">
                                        <li>
                                            <label class="radio-btn">
                                              <input type="checkbox" value='option1'>
                                              Option 1
                                          </label>
                                        </li>
                                        <li>
                                            <label class="radio-btn">
                                              <input type="checkbox" value='option2'>
                                              Option 2
                                          </label>
                                        </li>
                                        <li>
                                            <label class="radio-btn">
                                              <input type="checkbox" value='option3'>
                                              Option 3
                                          </label>
                                            <li>

                                                <!--    <li class='text-center'>
                                          <button type='button' class='btn btn-xs btn-danger clear close-dropdown' value='Clear'>Clear</button>
                                          <button type='button' class='btn btn-xs btn-success save' value='Save'>Save</button>
                                      </li> -->
                                    </ul>
                                </div>

                            </div>


                            <button type="button" class="btn btn-primary savebutton"> Save changes</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------------------->
</form>