<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Gradski saobracajni prevoz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/admin" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" (click)="Logout()">Log out</a>


        </div>
    </div>
</nav>

<!----
<form [formGroup]="registerForm" (ngSubmit)="register()" class="needs-validation" novalidate>

    <div class="card-deck">
        <div class="card col-md-3 mb-3">
            <img src="assets/images/booking.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LINES</h5>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Add line
      </button>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add line</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Enter line id:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid id.
                                        </div>
                                    </div>

                                    Smisliti kako dodati da se ucitaju stanice pa da se dodaju u liniju.

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Add </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter2">
        Delete line
      </button>

                <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete line</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Enter line id:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid id.
                                        </div>
                                    </div>

                                    Obrisace se linija.

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
        Change line
      </button>

                <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Change line</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Enter line id:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid id.
                                        </div>
                                    </div>

                                    Dogovoriti se kako ce da se menja linija.

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter4">
        Show lines
      </button>

                <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Show </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                Ovde ce prikazivati sve linije
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>

        <div class="card col-md-3 mb-3">
            <img src="assets/images/booking.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">STATION</h5>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter5">
        Add station
      </button>

                <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add station</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Name:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid name.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Address:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid address.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Longitude:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid longitude.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Latitude:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid latitude.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Lines:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Dogovor za linije.
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter6">
        Delete station
      </button>

                <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete station</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Enter station id/name:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid id.
                                        </div>
                                    </div>

                                    Videti da li stanicu brisati po ID-u ili po imenu.

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Delete </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter7">
        Change station
      </button>

                <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Change station</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Name:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid name.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Address:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid address.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Longitude:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid longitude.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Latitude:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid latitude.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Lines:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Dogovor za linije.
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter8">
        Show stations
      </button>

                <div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                Ovde ce se prikazivati stanice.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-md-3 mb-3">
            <img src="assets/images/booking.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">SCHEDULE</h5>



                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter9">
        Add schedule
      </button>

                <div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Line:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid line.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Select ticket type:

                                    </div>
                                    <div class="col-md-6 mb-2 id">
                                        <select (change)="selected($event)" class="custom-select" formControlName="TypeOfPerson" required>
                                  <option value="WorkDay"> Work Day</option>
                                  <option value="Saturday"> Saturday</option>
                                  <option value="Sunday">Sunday </option>                               </select>

                                    </div>


                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Departure:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid departure.
                                        </div>
                                    </div>
                                    Predlazem da ucita odmah polazke za zadatu liniju i zadati dan.
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter10">
        Delete schedule
      </button>

                <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Enter schedule id:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid id.
                                        </div>
                                    </div>

                                    Brisati red voznje po id-u (ili broju linije?).

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Delete </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter11">
        Change schedule
      </button>

                <div class="modal fade" id="exampleModalCenter11" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Line:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid line.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Select ticket type:

                                    </div>
                                    <div class="col-md-6 mb-2 id">
                                        <select (change)="selected($event)" class="custom-select" formControlName="TypeOfPerson" required>
                                  <option value="WorkDay"> Work Day</option>
                                  <option value="Saturday"> Saturday</option>
                                  <option value="Sunday">Sunday </option>                               </select>

                                    </div>


                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Departure:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid departure.
                                        </div>
                                    </div>
                                    Predlazem da ucita odmah polazke za zadatu liniju i zadati dan.
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter12">
        Show schedule
      </button>

                <div class="modal fade" id="exampleModalCenter12" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Line:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid line.
                                        </div>
                                    </div>
                                    Za zadatu liniju ispisace se red voznje.
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-md-3 mb-3">
            <img src="assets/images/booking.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">PRICE LIST</h5>


                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter13">
        Change price list
      </button>

                <div class="modal fade" id="exampleModalCenter13" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                Enter regular price for:
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Time ticket:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid line.
                                        </div>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Daily ticket:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid line.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Monthly ticket:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid line.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Annual ticket:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid line.
                                        </div>
                                    </div>

                                </div>

                                Enter discount for:

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Student ticket:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid line.
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-md-6 mb-2 id">
                                        Retairee ticket:

                                    </div>
                                    <div class="col-md-6 mb-2 input">
                                        <input type="text" class="form-control" id="validationCustom04" required>
                                        <div class="invalid-feedback">
                                            Please enter valid line.
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter14">
        Show price list
      </button>

                <div class="modal fade" id="exampleModalCenter14" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                            </div>
                            <div class="modal-body">
                                Prikaz cena karata.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
-->
<div class="card-deck ">
    <div class="card col-md-4 mb-3">
        <a routerLink="/admin-lines" routerLinkActive="active">
            <img src="assets/images/admin-lines.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Linije</h5>
            <p class="card-text">Ovde mozete da izmenite linije.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card col-md-4 mb-3">
        <a routerLink="/admin-station" routerLinkActive="active">
            <img src="assets/images/admin-stations.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Linije</h5>
            <p class="card-text">Ovde mozete da pogledate koje sve linije postoje na raspolaganju.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card col-md-4 mb-3">
        <a routerLink="/admin-schedule" routerLinkActive="active">
            <img src="assets/images/admin-schedule.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Red voznje</h5>
            <p class="card-text">Ovde mozete da pogledate red voznje.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card col-md-4 mb-3">
        <a routerLink="/admin-price-list" routerLinkActive="active">
            <img src="assets/images/admin-ticket-price.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Cenovnik</h5>
            <p class="card-text">Ovde mozete da pogledate cenu karti i popuste.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>


</div>