.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    position: relative;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}

.needs-validation {
    /*  width: 500px;*/
    margin-left: 10px;
    margin-top: 10px;
}

.card-body {
    border-style: solid;
    text-align: center;
}

.btn.btn-primary {
    text-align: center;
}