.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    position: relative;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}

.needs-validation {
    width: 500px;
    margin-left: 10px;
    margin-top: 10px;
}

.first_name {
    margin-bottom: 20px;
}

.last_name {
    margin-bottom: 20px;
}

.username {
    margin-bottom: 20px;
}

.password {
    margin-bottom: 20px;
}

.email {
    margin-bottom: 20px;
}

.confirm_password {
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 20px;
}

.btn.btn-primary {
    margin-left: 200px;
}

.mssgEdit {
    margin-top: 20px;
    margin-left: 200px;
}

.mssg {
    margin-top: 20px;
    margin-left: 200px;
}

.picture {
    width: 210px;
}

#btn
{
    background-color: #4CAF50; /* Green */
}