.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    position: relative;
}

.collapse.navbar-collapse {
    right: 0%;
    position: absolute;
}

.needs-validation {
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    text-align: center;
}


/*
  .btn.btn-primary {
      margin-bottom: 20px;
      margin-top: 20px;
  }*/

.email {
    margin-top: 30px;
}

.poruka {
    margin-bottom: 20px;
}

.message {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 40%;
}

.message2 {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 45%;
}

.message3 {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 50%;
}

.message4 {
    text-align: center;
    position: absolute;
    left: 40%;
    top: 55%;
}

.id {
    margin-top: 5px;
}

.btn {
    position: absolute;
    top: 30%;
    left: 47%;
}

.tabela {
    margin-top: 250px;
}

textarea {
    width: 250px;
    height: 220px;
  }
  
  .info{
    margin-top: 30px;
  }
  
  .info-text{
    margin-top: 45px;
  }

  .poruka {
    margin-bottom: 20px;
}

.message {
    text-align: center;

}

.id {
    margin-top: 5px;
}