<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <label class="navbar-brand">Public transportation</label>
    <a class="nav-item nav-link active" (click)="Logout()" routerLinkActive="active">Log out</a>
</nav>

<form [formGroup]="ticketForm" class="needs-validation"  (ngSubmit)="CheckIn()" novalidate>
    <div class="poruka">
        This is a place where you check your card.
    </div>

    <div class="form-row">
            <div class="col-md-4 mb-2 id">
                Enter your id:
    
            </div>
            <div class="col-md-4 mb-2 input">
                <input  id="enter-id" type="text" class="form-control" formControlName="Id"   required>
                <div class="invalid-feedback">
                    Please enter valid id.
                </div>
            </div>
            <div class="col-md-4 mb-2 id">
              <button class="btn btn-primary"  type="submit">Check in</button>
            </div>
    
    
        </div>
    
        <div class="form-row info">
            <div class="col-md-3 mb-2 info-text">
              Info:
    
            </div>
            <div class="col-md-2 mb-2 input">
                <textarea class="message" for=""> {{mssg}}</textarea>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
 
</form>          
        <table border="1" id="tabela">
             <tr >
                 <th>Email</th>
                 <th>FirstName</th>
                 <th>LastName</th>
                 <th>DateOfBirth</th>
                 <th>Type</th>
                 <th>Image</th>
                 <th  colspan="2">Approve/Decline</th>
             </tr>
             <tr *ngFor="let user of users; let i = index">
                <td >
                    {{users[i].Email}}
                 </td>
                 <td >
                     {{users[i].FirstName}}
                </td>
                 <td >
                     {{users[i].LastName}}
                 </td>
                 <td >
                    {{users[i].DateOfBirth}}
                 </td>
                 <td >
                     {{users[i].Type}}
                 </td>
                <!-- <td >
                    {{users[i].Image}}
                 </td>-->
                 <td>
                    <img height="80" width="80" id="image" [src]="users[i].ImageSrc" >
                 </td>
                 <td >
                    <input type="submit" (click)="Approve(users[i].Email)" id="Approve"  value="Aprove"/>
                </td>
                <td >
                    <input type="button" (click)="Decline(users[i].Email)" value="Decline"/>
                </td>
             </tr>
        </table>
            
    
        
    



